/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* custom proterties */
:root {
  --Neutral-Almost-White: 0 0% 98%;
  --Neutral-Medium-Gray: 0 0% 41%;
  --Neutral-Almost-Black: 0 0% 8%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

html {
  font-size: 18px;
  font-family: "Epilogue", sans-serif;
}

body {
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.mobile-nav-toggle {
  background-image: url("./images/icon-menu.svg");
  /* background-image: ; */
  background-repeat: no-repeat;
  background-size: contain;
  /* aspect-ratio: 1; */
  height: 1rem;
  width: 2rem;
  border: none;
  cursor: pointer;
  z-index: 12;
  background-color: transparent;
  /* display: none; */
}

.side-nav {
  position: fixed;
  /* visibility: hidden; */
  /* background-color: red; */
  background-color: white;
  height: 100vh;
  inset: 0 0 0 50%;
  font-size: 0.7rem;

  /* display: none; */

  padding: 5rem 1rem 0 1rem;
  transition: transform 400ms;
  transform: translateX(100%);
}

.side-nav[data-visibility="true"] {
  transform: translateX(0%);
}

.btn-feature-cont {
  font-size: inherit;
  position: relative;
}
/* .side-nav ul {
  display: grid;
  gap: rem;
} */
.side-nav button {
  color: hsl(var(--Neutral-Medium-Gray));
}

.features,
.company {
  position: relative;
}

.careers {
  margin-bottom: 1rem;
}

.features::after,
.company::after {
  content: var(--feature-image, url("./images/icon-arrow-down.svg"));
  /* content: var(--feature-image, url(./images/icon-arrow-up.svg)); */
  position: absolute;
  top: 0;
  margin-left: 1rem;
}

.down-toggle {
  padding-top: 1rem;
  padding-left: 1.5rem;
  background-color: transparent;
  overflow: hidden;
}
.feature-animation {
  height: 0;
  transition: height 500ms;
}

.company-animation {
  height: 0;
  transition: height 500ms;
}
/* .down-toggle:hover {
  height: 10rem;
  background-color: #3e8e41;
} */

.down-toggle li {
  /* border: 1px solid; */
  margin-bottom: 1rem;
  /* font-size: rem; */
  /* display: flex; */
  /* align-items: center; */
}
.todo-list,
.calendar,
.reminders,
.planning {
  position: relative;
}

.todo-list::before {
  content: url("./images/icon-todo.svg");
  margin-right: 0.5rem;
  position: relative;
  top: 0.1rem;
}

.calendar::before {
  content: url("./images/icon-calendar.svg");
  margin-right: 0.5rem;
  position: relative;
  top: 0.1rem;
}

.reminders::before {
  content: url("./images/icon-reminders.svg");
  margin-right: 0.5rem;
  position: relative;
  top: 0.1rem;
}
.planning::before {
  content: url("./images/icon-planning.svg");
  margin-right: 0.5rem;
  position: relative;
  top: 0.1rem;
}

a {
  text-decoration: none;
  color: hsl(var(--Neutral-Medium-Gray));
}

.feature-list {
  font-size: inherit;
}

.side-nav-buttons {
  margin-top: 2rem;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login {
  /* --color: hsl(var(--Neutral-Medium-Gray)); */
}

.register {
  /* --color: hsl(var(--Neutral-Medium-Gray)); */
  border: 1px solid hsl(var(--Neutral-Medium-Gray));
  --radius: 0.5rem;
  padding: 0.4rem 0;
}
.image-pc {
  display: none;
}

.mid-cont {
  margin-top: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mid-cont > * {
  padding-bottom: 1rem;
}

.mid-cont > h1 {
  font-size: 1.8rem;
  color: hsl(var(--Neutral-Almost-Black));
}

.mid-cont > p {
  color: hsl(var(--Neutral-Medium-Gray));
  font-size: 0.8rem;
}

button {
  background-color: var(--bg-color);
  color: var(--color);
  cursor: pointer;
  border-radius: var(--radius);
  border: none;
}

.Learn-more {
  --bg-color: hsl(var(--Neutral-Almost-Black));
  --color: hsl(var(--Neutral-Almost-White));
  --radius: 0.7rem;
  padding: 0.6rem 1.2rem;
  font-size: 0.8rem;
}
.Learn-more:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

.partners {
  margin: 2rem 0;
}

.ul-parter {
  /* border: 1px solid r  ed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul-parter img {
  width: 3.5rem;
  object-fit: contain;
}

@media (min-width: 830px) {
  body {
    /* background-color: red; */
  }
  .mobile-nav-toggle {
    display: none;
  }
  header {
    justify-content: flex-start;
    align-items: center;
    /* justify-content: space-between; */
  }
  .side-nav {
    /* visibility: visible; */
    /* position: initial; */
    /* inset: initial; */
    /* display: flex; */
    /* background-color: red; */
    /* width: 10%; */

    all: unset;
  }

  .main-nav {
    /* width: 100%; */
    /* display: flex; */
    /* background-color: red;
    justify-content: space-evenly; */
    /* border: 1px solid red; */
    /* height: 100%; */
    /* width: 100vw; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
  }

  .main-nav > .list > ul {
    margin-left: 2rem;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .feature-list {
    align-self: flex-end;
  }

  .side-nav-buttons {
    /* border: 1px solid red; */
    position: absolute;
    margin-top: 0.5rem;
    display: flex;
    right: 1rem;
    /* background-color: rebeccapurple; */
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-inline: auto; */
  }

  .features,
  .company,
  .careers {
    margin-top: 1rem;
  }
  .careers,
  .about {
    /* border: 1px solid red; */
    padding: 0 1rem;
  }

  .down-toggle li {
    padding-left: 1rem;
  }
  .down-toggle li:first-child {
    padding-top: 1rem;
  }
  .down-toggle li:last-child {
    margin-bottom: 1rem;
  }

  .feature-animation {
    left: -4rem;

    position: absolute;
    background-color: white;
    /* height: 1rem; */
    border-radius: 1rem;
    box-shadow: -2px 1px 21px -7px rgba(0, 0, 0, 0.75);
    /* padding: 100rem; */
    /* visibility: hidden; */
    overflow: hidden;
    width: 9rem;
  }

  .btn-compant-cont {
    position: relative;
  }

  .company-animation {
    position: absolute;
    background-color: white;
    box-shadow: -2px 1px 21px -7px rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
    width: 7rem;
    overflow: hidden;
    left: 0;
  }

  main {
    /* border: 1px solid red; */
    display: flex;
    padding: 3rem;
    flex-direction: row-reverse;
    gap: 4rem;
    /* height: 80vh */
    align-items: center;
  }
  .left {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    padding: 1rem;
    /* justify-content: center; */
  }
  .mid-cont {
    align-items: flex-start;
    text-align: left;
  }

  .mid-cont > h1 {
    font-size: 3.5rem;
    width: 11ch;
  }
  .mid-cont > p {
    width: 50ch;
  }

  .image-pc {
    display: block;
    height: 29rem;
    width: 29rem;
  }
  .image-mobile {
    display: none;
  }

  .partners {
    margin-top: 3rem;
    margin-bottom: auto;
  }
  .register {
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
}
